<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Ejemplo boostrap</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../../bootstrap/css/bootstrap.min.css">
	</head>
	
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<ul class="nav navbar-nav">
				<li><a href="#"><span></span>DASHBOARD</a></li>
				<li><a href=""><span></span>PROYECTOS</a></li>
				<li><a href=""><span></span>TAREAS</a></li>
				<li><a href=""><span></span>USURARIOS</a></li>
				<li><a href=""><span></span>CALENDARIO</a></li>
				<li><a href=""><span></span>MENSAJE</a></li>
				<li><a href=""><span></span>ARCHIVOS</a></li>
				<li><a href=""><span></span>NOTA</a></li>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<li><a href="" id="usuario"><span></span>PEDRO PEREZ P</a></li>
				<li ><a href="#"><span class="glyphicon glyphicon-bell"></span></a></li>
			</ul>
		</nav>
		<div class="container">
			<div class="panel panel-default">
			  <div class="panel-body">
			    <h4>Proyectos</h3>
			  </div>
			  <div class="panel-footer">
			  	<form role="form">
			  		<div class="row">
			  			<div class="col-md-6">
			  				<div class="form-group">
					  			<label for="proyecto-label">Proyecto</label>
					  			<select class="form-control">
						  			<option></option>
								</select>	
					  		</div>
			  			</div>
			  			<div class="col-md-6">
			  				<div class="form-group">
					  			<label for="categoria-label">Categoria</label>
					  			<select class="form-control">
						  			<option></option>
								</select>	
					  		</div>
			  			</div>
			  		</div>
			  		<div class="form-group">
						<label for="nombre-etiqueta">Nombre</label>
						<input type="text" class="form-control" placeholder="Juan Perez">
					</div>  
					<div class="form-group">
						<label for="nombre-etiqueta">Descripcion</label>
						<textarea class="form-control" rows="3" placeholder="Escribe la descripcion"></textarea>
					</div>
					<div class="container">
						<button type="button" class="btn btn-success">Guardar</button>
						<p class="btn">o</p>
						<button type="button" class="btn btn-danger">Cancelar</button>
					</div>
					
				</form>
			  </div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="../../bootstrap/js/jquery.js"></script>
	<script type="text/javascript" src="../../bootstrap/js/bootstrap.min.js"></script>
	</script>
</html>